  
  .navbar {
    background-color: #2E8540;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    width: 70px;
    height: 60px;
    padding: 0;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .header-logo {
    height: 50px;
  }
  
  @media (max-width: 768px) {
    .navbar-brand {
      justify-content: flex-start;
    }
  }
  
  .container .navbar-collapse {
    justify-content: flex-end;
  }
  
  .container .navbar-collapse ul {
    margin-right: auto;
  }
  
  .navbar-nav {
    align-items: center;
  }
  
  .nav-item {
    margin-left: 10px;
  }
  
  .navbar-text {
    margin-left: 10px;
  }
  
  @media (max-width: 576px) {
    .navbar-text {
      margin-left: 0;
      margin-top: 10px;
    }
  }

  .login-box {
    background-color: #2E8540;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    color: #ffffff;
    width: 300px;
  }
  
  .admin-login-form {
    background-color: #FF6600;
    padding: 20px;
    border-radius: 5px;
    color: #ffffff;
    width: 300px;
    margin: 0 auto;
  }

  .form-control {
    width: 200px;
  }

  .form-box {
    background-color: #2E8540;
    padding: 20px;
    border-radius: 5px;
    color: #ffffff;
  }

  .state-field {
    margin-top: 40px;
  }

  h1 {
    text-align:center;
    color:#3F51B5
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid green; */
  }

  .btn {
    align-items: center;
  }

  .profile-pic {
    width: 50px;
    height: 50px;
    padding: 0;
    margin-left: 10px;
  }

  table.table-bordered{
    border:1px solid #fd7e14;
    margin-top:20px;
    padding: 0px;
  }
  table.table-bordered > thead > tr > th{
      border:1px solid #fd7e14;
  }
  table.table-bordered > tbody > tr > td{
      border:1px solid #fd7e14;
  }

  .course-table-bordered{
    border:1px solid #2E8540;
    margin-top:20px;
    padding: 0px;
  }
  .course-table-bordered > thead > tr > th{
    border:1px solid #2E8540;
  }
  .course-table-bordered > tbody > tr > td{
    border:1px solid #2E8540;
  }

  .heading-color {
    background-color: #fd7e14;
  }

  .add-course-form {
    columns: 4;
    height: 200px !important;
    background-color: lightgrey;
    border:1px solid #fd7e14;
    padding: 10px 10px 10px 10px;
    margin-bottom: -100px;
  }

  .dropdown-button {
    margin-bottom: 10px;
  }

  .add-button {
    background-color: #fd7e14;
    border:1px solid #2E8540;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .bottom-space {
    margin-bottom: 100px;
  }

  