  
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~  Navbar CSS Styles  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

  #grad {
    background-image: linear-gradient(55deg, #3F51B5, #2E8540, #FF6600);
  }
  l1:hover, a:hover {
    font-size: 125%;
    font-family: cursive;
    font-weight: bold;
    font-stretch: extra-condensed;
    line-height: 65px;
    text-transform: uppercase;
    text-shadow: 3px 1px 5px #000, 4px 2px 5px #fff, 3px 1px 4px #ebdd17;
    -webkit-text-stroke: 1px #000;
  }
  .navbar {
    width: 100%;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 25px;
    line-height: 35px;
    font-weight: bold;
    text-shadow: 3px 1px 4px #000, 2px 0 2px #fff;
    white-space: nowrap;
    padding: 0;
  }
  .container1 {
    width: 100%;
    margin: 0%;
    padding: 0%;
    justify-items: left;
  }
  .container2 {
    width: 100%;
    margin-right: 40px;
    padding-right: 20px;
    justify-items: right;
  }
  .container3 {
    width: 100%;
    margin: 0px;
    justify-items: center;
  }
  .container-template {
    width: 80%;
    margin: auto;
    justify-items: center;
  }
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  .profile-pic {
    width: 60px;
    height: 60px;
    padding: 0;
    margin-left: 0px;
  }
  .navbar-logo {
    width: 70px;
    height: 60px;
    padding: 0;
    margin-right: 10px;
    margin-left: 10px;
  }
  .header-logo {
    height: 50px;
  }
  a.nav-link {
    padding: 0px;
  }
  @media (max-width: 768px) {
    .navbar-brand {
      justify-content: flex-start;
    }
  }
  
  .container .navbar-collapse {
    justify-content: flex-end;
  }
  .container .navbar-collapse ul {
    margin-right: auto;
  }
  .navbar-nav {
    align-items: center;
  }
  .nav-item {
    margin-left: 10px;
  }
  .navbar-text {
    margin-left: 10px;
  }
  @media (max-width: 576px) {
    .navbar-text {
      margin-left: 0;
      margin-top: 10px;
    }
  }

/* ~~~~~~~~~~~~~~~~~~~~~~~  Divider to seperate page heading and body  ~~~~~~~~~~~~~~~~~~~~~~~ */

  .divider {
    display: flex;
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
  }
  .gradient {
    align-items: stretch;
    margin: 1em 0;
    border-radius: 5px;
    height: 8px;
    -webkit-filter: blur(1px);
    color: white;
    background: black;
    background-image: linear-gradient(to right, #3F51B5, #2E8540, #FF6600);
  }
  .divider2 {
    display: flex;
    justify-self: left;
    align-items: start;
    background-color: #000;
    align-items: stretch;
    margin: 10px 10px 10px 0;
    height:1px;
    }
  .razor {
    &:before,
    &:after {
      box-shadow: 0 0.5px 0 black;  .razor {
    &:before,
    &:after {
    box-shadow: 0 0.5px 0 black;  /*Chrome */
      /* // border-bottom: 0.5px solid black; // Safari */
    }
  }
       /* border-bottom: 0.5px solid black; Safari */
    }
  }

  body {
    padding-bottom: 50px;
  }

  .login-box {
    background-color: #2E8540;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    color: #ffffff;
    width: 300px;
  }
  .admin-login-form {
    background-color: #FF6600;
    padding: 20px;
    border-radius: 5px;
    color: #ffffff;
    width: 300px;
    margin: 0 auto;
  }
  .form-control {
    width: 200px;
  }
  .form-box {
    background-color: #2E8540;
    padding: 20px;
    border-radius: 5px;
    color: #ffffff;
  }
  .state-field {
    margin-top: 40px;
  }
  h1 {
    text-align:center;
    color:#3F51B5
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~  Button Styles  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 2px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    /* margin: 4px 2px; */
    margin-left: 5%;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .register-button {
    background-color: white;
    color: black;
    font-weight: bold;
    -webkit-text-stroke: 0.5px #fd7e14;
    border: 2px solid #323232;
    border-radius: 12px;
  }
  .register-button:hover {
    background-color: #323232;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.24),0 10px 50px 0 rgba(0,0,0,0.19);
  }
  .btn {
    align-items: center;
    margin-bottom: 5px;
    border: 1px solid #323232;
    box-shadow:1px 0 3px #323232, 2px 0 2px #fff, 3px 1px 4px #fd7e14;
    color: #323232;
  }

  /* a:hover, .btn:hover {
    box-shadow: 2px 1px 5px #000, 4px 2px 5px #fff, 4px 1px 4px #fd7e14;
    text-shadow: 3px 1px 5px #000, 4px 2px 5px #fff, 3px 1px 4px #ebdd17;
    -webkit-text-stroke: 1px #000;
  } */

  .box1 {
    outline:2px solid #2E8540;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 10px;
    margin: 20px;
  }
  .box2 {
    outline:2px solid #2E8540;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    margin: 20px;
  }
  .add-course-form {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #d2d2d2;
    border:1px solid #000;
    box-shadow: 1px 0px 6px #fff,2px 1px 6px #2E8540;
    padding: 10px 10px 10px 10px;
    margin-bottom: -100px;
  }
  .add-course-form > div {
    text-align: left;
  }
  .dropdown-button {
    margin-bottom: 10px;
    color: #000;
    font-weight: bold;
    box-shadow: 1px 0px 6px #fff, 4px 3px 6px #2E8540;
  }
  .add-button {
    background-color: #fd7e14;
    border:1px solid #2E8540;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .bottom-space {
    padding-bottom: 200px;
  }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~  Table CSS Styles  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

  #data-table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    border-collapse: separate;
    border: 2px solid #323232;
    border-radius: 8px;
    border-spacing: 0px;
    width: 100%;
    box-shadow: 2px 1px 6px #fff, 7px 5px 6px #2E8540;
  }
  #data-table tr:nth-child(even){
    background-color: #464646;
    color: #fff;
  }
  #data-table tr:nth-child(odd){
    background-color: #5a5a5a;
    color: #fff;
  }
  #data-table tr:hover {
    background-color: #ddd;
    color: #323232;
  }
  #data-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #fd7e14;
    color: #323232;
  }
  thead {
    vertical-align: middle;
    border-collapse: collapse;
    border-color: #323232;
  }
  tr {
      vertical-align: inherit;
      border-color: #323232;
  }
  th, td {
      padding: 5px 4px 6px 4px; 
      text-align: center;
      vertical-align: middle;
      border-left: 2px solid #323232;    
  }
  td {
    border-bottom: 2px solid #323232;
    border-top: 2px solid #323232;
  }
  thead:first-child tr:first-child th:first-child {
    border-radius: 8px 0 0 0;
  }
  thead:first-child tr:first-child th:last-child {
    border-radius: 0 8px 0 0 ;
  }
  tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 8px;
  }
  tbody:last-child tr:last-child td:last-child {
    border-radius: 0 0 8px 0;
  }

/* ~~~~~~~~~~~~~~~~~~~~~~~  CSS for Page Titles  ~~~~~~~~~~~~~~~~~~~~~~~ */

  .page-title {
    font-size: 50px;
    color: #2E8540;
    font-family: cursive;
    font-weight: bold;
    margin: 10px 0px 20px;
    text-transform: uppercase;
    text-shadow: 0 0 5px #000, 3px 2px 6px #fd7e14;
    margin: 22px 0px 20px;
    text-align: center;
    line-height: 60px;
    -webkit-text-stroke: 1.5px #3F51B5;
  }
  .page-subtitle {
    font-size: 28px;
    letter-spacing: -1px;
    color: #2E8540;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 0 2px #000, 3px 2px 6px #fd7e14;
    margin: 15px 0px 15px;
    text-align: center;
    line-height: 38px;
    -webkit-text-stroke: 1px #3F51B5;
  }
  .student-title {
    font-size: 50px;
    font-weight: bold;
    color: #fd7e14;
    font-family: cursive;
    margin: 10px 0px 20px;
    text-transform: uppercase;
    text-shadow: 1px 0 6px #000, 6px 3px 6px #2E8540;
    margin: 22px 0px 20px;
    text-align: center;
    line-height: 60px;
    -webkit-text-stroke: 1px black;
  }
  .student-subtitle {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #bec7f7;
    text-transform: uppercase;
    text-shadow: 0 0 7px #000, 3px 2px 6px #3F51B5, 3px 2px 5px #fff;
    margin: 15px 0px 20px;
    text-align: center;
    line-height: 38px;
    -webkit-text-stroke: 1px #2E8540;
  }
  .profie-card {
    width: 100%;
    border: 5px solid #323232;
    border-radius: 8px;
    box-shadow: 5px 1px 3px #000, 8px 3px 5px #fd7e14;
    font-family: "Montserrat", "Arial", sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
  }
  .profile-card-title {
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 1px 2px 4px #fff, 1px 0 1px #000, 2px 1px 2px #fd7e14, 3px 1px 2px #fff;
    color: #323232;
    margin-bottom: 8px;
  }
  