<!-- BASE.HTML FILE WILL BE THE GENERAL STYLE FOR THE ENTIRE APPLICATION -->
<!-- THE STYLES WILL BE OVERRIDDEN BY OTHER FILES WHEN NECESARY -->

<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
      />
      <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous"
      />
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

      <!-- JINJA TEMPLATING USED WHENEVER YOU'RE WRITING A BLOCK( SOME CODE IN THE BASE TEMPLATE THAT CAN BE OVERRIDEN IN A CHILD TEMPLATE) 
        OR PYTHON CODE(IF STATEMENTS/FOR LOOPS/ ETC.) -->
      <!-- JINJA SYNTAX ALWAYS GOES INTO CURLY BRACES AND PERCENT SIGNS -->
      <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
      <div id="grad">
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="/">
            <img class="navbar-logo" src="{{ url_for('static', filename='assets/CampusProLogo.png') }}" alt="Navbar Logo">
            <img class="header-logo" src="{{ url_for('static', filename='assets/header.png') }}" alt="Header Logo">
          </a>
            <div class="container1">
              
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
              </button>

          <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto" style="list-style-type: none;">
              <!-- HREF="/ " CALLS THE CORRESPONDING ROUTING METHOD -->
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" id="logout" href="/logout" style="color: #ffffff; margin-right: 60px;">Logout</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="home" href="/" style="color: #ffffff;">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="studentDash" href="/student/dash" style="color: #ffffff;">Student</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" id="login" href="/login" style="color: #ffffff;">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="signUp" href="/sign-up" style="color: #ffffff; margin-right: 60px;">Sign Up</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </div>

      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %} 
        {% for category, message in messages %} 
          {% if category == 'error' %}
            <div class="alert alert-danger alter-dismissable fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% else %}
            <div class="alert alert-success alter-dismissable fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endif %} 
        {% endfor %} 
      {% endif %} 
      {% endwith %}

      <!-- A CONTAINER WHICH WILL HOLD THE CONTENT FROM THE OTHER  -->
      <div class="container-template">{% block content %} {% endblock %}</div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script>
      type="text/javascript"
      src="{{ url_for('static', filename='index.js')}}"
    </script>

    {% block javascript %}
    <script type="text/javascript">
      function deleteNote(noteId) {
        fetch("/delete-note", {
          method: "POST",
          body: JSON.stringify({ noteId: noteId }),
        }).then((_res) => {
          window.location.href = "/";
        });
      } 
    </script>

    {% endblock %}
    </body>
  </html>
</html>

