
{% extends "_template_base.html" %}{% block title %}Manage Courses{% endblock %}

{% block content %}

<h2 class="page-title">Manage Courses Page</h2>
<p class="h4 page-subtitle">
  Display all the courses that are currently active. Gives admin the ability to add, delete, and update courses.
</p>
<h2 class="divider gradient"></h2>

<div class="container mx-auto">
  <div class="d-flex justify-content-center">
    <table id="data-table" class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Course ID</th>
          <th scope="col">Course Name</th>
          <th scope="col">Course Abbreviation</th>
          <th scope="col">Course Section</th>
          <th scope="col">Course Code</th>
          <th scope="col">Teacher</th>
          <th scope="col">School Year</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
          {% for course in courses %}
          <tr>
            <td><h6>{{course.id}}</h6></td>
            <td><h6>{{course.course_name}}</h6></td>
            <td><h6>{{course.course_abbr}}</h6></td>
            <td><h6>{{course.section}}</h6></td>
            <td><h6>{{course.course_code}}</h6></td>
            <td><h6>{{course.teacher}}</h6></td>
            <td><h6>{{course.year}}</h6></td>
            <td class="text-success" style="width: 90px;">
              <a href="/admin/dash" class="text-success"><span aria-hidden="true"><h6>Details</h6></span></a> <!-- "more" in braille -->
            </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="d-flex justify-content-center">
  <button 
    class="button button-register" 
    style="background-color: #fd7e14; margin: auto;"
    type="button" 
    id="create_crs_btn" 
    name="create_crs_btn"
    onclick="show_create_course()"
    aria-haspopup="true" 
    aria-expanded="false">
    Create Course
  </button>
</div>
<br>
<div class="container" style="display: none;" id="create-course-form">
  <div class="title"><h3>Registration</h3></div>
  <div class="content">
    <form method="POST">
      <div class="user-details">
        <div class="input-box">
          <span class="details">Course Name</span>
          <input type="text" 
            placeholder="Ex: American History" 
            id="courseName"
            name="courseName"
            required>
        </div>
        <div class="input-box">
          <span class="details">Course Abbreviation</span>
          <input type="text" 
            placeholder="Ex: FRHS" 
            id="courseAbbr"
            name="courseAbbr"
            required>
        </div>
        <div class="input-box">
          <span class="details">Course Section</span>
          <input type="text" 
            placeholder="Ex: 'C'" 
            id="courseSection"
            name="courseSection"
            required>
        </div>
        <div class="input-box">
          <span class="details">Seats Available</span>
          <input type="text" 
            placeholder="Ex: 30" 
            id="openSeats"
            name="openSeats"
            required>
        </div>
        <div class="input-box">
          <span class="details">Academic Year</span>
          <input type="text" 
            placeholder="Ex: 2023-2024" 
            id="academicYear"
            name="academicYear"
            required>
        </div>
        <div class="form-group">
          <span class="details">Teacher</span>
          <!-- <label for="state" class="col-sm-2 control-label">Teacher</label> -->
            <select class="form-control" id="teacher" name="teacher">
              <option value="None"> -- </option>
              {% for user in users %}
                {% if user.permissions == 2 %}
                  <option value='{{user.id}}'>{{user.first_name}} {{user.last_name}}</option>
                {% endif %}
              {% endfor %}
            </select>
        </div>
      </div>
      <div class="button">
        <input type="submit" value="Create">
      </div>
    </form>
  </div>
</div>

<script>
  function show_create_course(){
    $('#create-course-form').show();
  };
</script>

{% endblock %}

 