{% extends "_template_base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<div class="admin-login-form">
  <form method="POST">
    <h3 align="center">Administrator Login</h3>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control" 
        id="email"
        name="email"
        placeholder="Enter email"
      />
    </div>
    <form class="login-form admin-login-form"></form>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter password"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary" style="background-color: #3F51B5; color: white;">Login</button>
  </form>
</div>
{% endblock %}
