{% extends "_template_admin.html" %}{% block title %}Admin Dashboard{% endblock %}

{% block content %}

<br>
<h1 class="student-title">Admin dashboard</h1>
<p class="page-subtitle">
  MAYBE COULD JUST DISPLAY EMAILS/MESSAGES ON THE MAIN PAGE
</p>
<h2 class="divider gradient"></h2>

  <div class="container">
    <div class="card border-danger mb-2">
      <h5 class="card-header text-danger">Action Required!</h5>
      <div class="card-body">
        <h5 class="card-title">New Registration Pending</h5>
        <p class="card-text">One or more new user registrations require validation.</p>
        <a href="#" class="btn btn-primary">Take Action</a>
      </div>
    </div>
  </div>
  <div class="container">
      <div class="card">
        <h5 class="card-header text-success">Email</h5>
        <div class="card-body">
          <h7 class="card-title">New Email from Principal Larry</h7>
          <h6 class="card-subtitle mb-2 text-muted">Subject: New School Year Policies</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">View</a>
          <a href="#" class="card-link">Dismiss</a>
        </div>
      </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-6 mb-4">
        <!-- IMAGE CARD WITH TEXT, LINK, AND BUTTON -->
        <div class="card">
            <img class="card-img-top" src="" alt="">

            <div class="card-body">
                <h5 class="card-title">BIO101</h5>
                <p class="card-text">
                    Some quick example text to build on 
                    the card title and make up the bulk 
                    of the card's content.
                </p>

                <a href="#" class="btn btn-outline-primary btn-sm">
                    Card link
                </a>
                <a href="#" class="btn btn-outline-secondary btn-sm">
                    <i class="far fa-heart"></i></a>
            </div>
        </div>
    </div>
      <!-- IMAGE CARD WITH ONLY TEXT -->
    <div class="col-lg-6 mb-4">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">MAT111</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- TEXT CARD WITH TITLE, SUBTITLE, AND LINK -->
    <!-- WIDTH SPECIFIED ""style="width: 18rem;"" -->
    <div class="col-lg-6 mb-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">ENG112</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>  
</div>

{% endblock %}
