
{% extends "_template_base.html" %}{% block title %}Manage Users{% endblock %}

{% block content %}

<h1 class="page-title">Manage Users Page</h1>
<p class="h4 page-subtitle">
  SHOULD DISPLAY ALL USERS IN THE DATABASE AND PROVIDE SORTING OPTIONS BY USER-TYPE, AND SEARCH OPTIONS BY NAME OR USER ID.
</p>
<h2 class="divider gradient"></h2>

<div class="container3">
  <div class="d-flex justify-content-center">
    <table id="data-table" class="table table-sm">
      <thead>
        <tr>
          <th scope="col">UserID</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Street Address</th>
          <th scope="col">City</th>
          <th scope="col">Zip Code</th>
          <th scope="col">State</th>
          <th scope="col">Email Address</th>
          <th style="width: 50px" scope="col">Password</th>
          <th scope="col">Phone Number</th>
          <th scope="col">User Permissions</th>
        </tr>
      </thead>
      <tbody>
          {% for user in users %}
          <tr>
            <td><h6>{{user.id}}</h6></td>
            <td><h6>{{user.first_name}}</h6></td>
            <td><h6>{{user.last_name}}</h6></td>
            <td class="text-nowrap"><h6>{{user.address}}</h6></td>
            <td><h6>{{user.city}}</h6></td>
            <td><h6>{{user.zip_code}}</h6></td>
            <td><h6>{{user.state}}</h6></td>
            <td><h6>{{user.email}}</h6></td>
            <td style="width: 50px; overflow-wrap: break-word;"><h6>{{user.password}}</h6></td>
            <td><h6></h6>{{user.phone_number}}</th>
            <td class="px-0"><h6>{{user.permissions}}</h6></td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<br>

<div class="container3">
  <h4 style="background-color: aqua;">{{current_user.first_name}}'s Current Enrolled Classes</h4>
  <ul style="list-style-type: none;">
    {% for course in enrolled_courses %}
      <li style="color: #323232; font-size: 30px;">"CourseID:{{course.id}} Course Code:{{course.course_code}} Course Name:{{course.course_name}}</li>
    {% endfor %}
  </ul>
</div>
<br>
<div class="container3">
  <h4 style="background-color: aqua;">Students currently enrolled in {{course.course_code}} {{course.course_name}}:</h4>
  <ul style="list-style-type: none;">
    {% for student in enrolled_students %}
      <li style="color: #323232; font-size: 30px;">
        "Student Name:{{student.first_name}} {{student.last_name}} StudentID:{{student.id}}</li>
    {% endfor %}
  </ul>
</div>
<br>

  <div class="container">
    <div class="row">
        <div class="col-lg-6 mb-4">
            <!-- IMAGE CARD WITH TEXT, LINK, AND BUTTON -->
            <div class="card">
                <img class="card-img-top" src="" alt="">

                <div class="card-body">
                    <h5 class="card-title">BIO101</h5>
                    <p class="card-text">
                        Some quick example text to build on 
                        the card title and make up the bulk 
                        of the card's content.
                    </p>

                    <a href="#" class="btn btn-outline-primary btn-sm">
                        Card link
                    </a>
                    <a href="#" class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-heart"></i></a>
                </div>
            </div>
        </div>
          <!-- IMAGE CARD WITH ONLY TEXT -->
        <div class="col-lg-6 mb-4">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">MAT111</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <!-- TEXT CARD WITH TITLE, SUBTITLE, AND LINK -->
        <!-- WIDTH SPECIFIED ""style="width: 18rem;"" -->
        <div class="col-lg-6 mb-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">ENG112</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>  
    </div>
  </div>

{% endblock %}

