
{% extends "_template_base.html" %}{% block title %}Courses{% endblock %}

{% block content %}

<h1 class="student-title">Courses</h1>
<p class="h4 student-subtitle">
  From the courses page, teachers can view the classes they are currently teaching, make announcements, create assignments, etc. 
</p>
<h2 class="divider gradient"></h2>

<div class="px=4 d-flex justify-content-center">
  <h3>Course Sections</h3>
  <button 
    class="button register-button" 
    style="background-color: #fd7e14; padding: auto;"
    type="button" 
    id="create-assignment" 
    data-toggle="">
    Create Assignment
  </button>
  <button 
    class="button register-button" 
    style="background-color: #fd7e14; padding: auto;"
    type="button" 
    id="create-announcement" 
    data-toggle="">
    Create Announcement
  </button>
</div>

<br>

<div class="container-template">
  {% for course in courses %}
    <div class="row">
      <!-- TEXT CARD WITH TITLE, SUBTITLE, AND LINK -->
      <!-- WIDTH SPECIFIED ""style="width: 18rem;"" -->
      <div class="col-lg-6 mb-4">
        <form method="POST">
          <div class="card" style="max-width: 75%;">
            <div class="card-body">
              <h5 class="card-title"><b>{{course.course_abbr}}:</b> {{course.course_name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted" style="text-transform: capitalize;">Section {{course.section}}</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href='/course-homepage/<int:id>' class="card-link">View Class</a>
              <button 
                class="button button-register" 
                style="background-color: #fd7e14; margin: auto; font-size: small;"
                type="submit" 
                id="view-course" 
                name="view-course"
                value="{{course.course_code}}">
                View Course
              </button>
            </div>
          </div>
        </form>
      </div>  
    </div>
  {% endfor %}
</div>

{% endblock %}

